body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background: url('puissance.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #fff;
    font-family: Arial, sans-serif;
}

#score-container {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1.2em;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 5px;
}

#message-container {
    text-align: center;
    margin-top: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 5px;
}

#message {
    font-size: 1.5em;
    color: white;
}

#game-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh; /* Ajusté pour laisser de la place pour le message et le bouton */
}

table {
    border: 3px blue outset;
    background-color: blue;
    border-collapse: collapse;
    border-radius: 10px;
    overflow: hidden;
}

td {
    width: 2cm;
    height: 2cm;
    margin: 0;
    padding: 0;
    border: 2px blue inset;
    border-radius: 2cm;
    background-color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

td:hover {
    background-color: lightblue;
}

.player1 {
    background-color: red;
    animation: drop 1s ease-in-out;
}

.player2 {
    background-color: yellow;
}

#reset-button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1em;
    font-weight: bold;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#reset-button:hover {
    background-color: #0056b3;
}