<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <title>Menu</title>
  <link rel="stylesheet" href="resources/styles/Accueil.css">
    <script src="resources/scripts/coté.js"></script>
</head>

<aside>
    <button class="menu-btn fa fa-chevron-left"></button>
    <a href="/" class="logo-wrapper">
      <span class="fa-brands fa-uikit"></span>
      <span class="brand-name">VIE AZUR</span>
    </a>
    <div class="separator"></div>
    <ul class="menu-items">
      <li><a href="#"><span class="icon fa fa-house"></span><span class="item-name">Accueil</span></a><span
          class="tooltip">Accueil</span>
      </li>
      <li><a href="#"><span class="icon fa fa-layer-group"></span><span class="item-name">Abbonements</span></a>
        <span class="tooltip">Abbonements</span>
      </li>
      <li><a href="#"><span class="icon fa fa-chart-line"></span><span class="item-name">Likes</span></a>
        <span class="tooltip">Likes</span>
      </li>
      <li><a href="#"><span class="icon fa fa-chart-simple"></span><span class="item-name">Messages</span></a>
        <span class="tooltip">Messages</span>
      </li>
      <li><a href="#"><span class="icon fa fa-user"></span><span class="item-name">Comptes</span></a>
        <span class="tooltip">Comptes</span>
      </li>
      <li><a href="#"><span class="icon fa fa-gear"></span><span class="item-name">Parametres</span></a>
        <span class="tooltip">Parametres</span>
      </li>
      <li><a href="#"><span class="icon fa fa-comment-dots"></span><span class="item-name">Contact</span></a>
        <span class="tooltip">Contact</span>
      </li>
    </ul>
  </aside>
  <main></main>