<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <title>SWIPE FREROT</title>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
  <link rel='stylesheet' type='text/css' media='screen' href='resources/styles/style.css'>
</head>
<body>
  <main>
    <h2>C'est l'heure de MAATCCHHEERR!!&#128175;</h2>
    <div class="profiles">
      <div class="profile">
        <div class="profile__image" style="background-image: url('resources/images/3.jpg');"></div>
        <div class="profile__infos">
          <div class="profile__name">Mickeu Mouse<span class="profile__age">60</span></div>
          <div class="profile__description">J'adore le fromage poudreux</div>
        </div>
      </div>
      <div class="profile">
        <div class="profile__image" style="background-image: url('resources/images/2.jpg');"></div>
        <div class="profile__infos">
          <div class="profile__name">Mario<span class="profile__age">30</span></div>
          <div class="profile__description">Celle que je cherche a le nom d'une brioche!</div>
        </div>
      </div>
      <div class="profile">
        <div class="profile__image" style="background-image: url('resources/images/1.jpg');"></div>
        <div class="profile__infos">
          <div class="profile__name">Naruto Uzumaki <span class="profile__age">18</span></div>
          <div class="profile__description">Je cherche Sasuke!!!!</div>
        </div>
      </div>
    </div>
    <div class="bottombar">
      <div class="bottombar__button">
        <img src="resources/images/icon-next.svg">
      </div>
      <div class="bottombar__button">
        <img src="resources/images/icon-heart.svg">
      </div>
    </div>
  </main>
  <script src='resources/scripts/hammer.min.js'></script>
  <script src='resources/scripts/main.js'></script>
</body>
</html>